@import "_config.scss";

#myContainer{
  width: 95%;  
  margin: 0 auto;  
}

input[type=text]{	
	border: 2px solid $inputBorderColor;
	border-radius: 4px;
	width: 40%;
	outline: none;
	padding: 8px;
	transition: .3s;
}

input[type=text]:focus{
	border-color: $focusBorderColor;
	box-shadow: 0 0 8px 0 $inputShadow;
}

#btn {
  background-color: $btnBackground;  
  border: none;
  color: $white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 6px;
  margin-bottom: 2px;
  cursor: pointer;
}

.profile{
  position: relative;
  float: left;
  width: 290px;
  height: 450px;
  margin: 15px;
  background: $white;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 20px 20px rgba(0,0,0,.2);
  img{
    width: 100%;
  }
}


.caption{
  height:5%;
  width: 100%;  
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.detail{
  height: 30%;
  width: 100%;
  padding: 10px;
  span{  
    padding: 10px;
    margin-bottom: 5px;
  }   
}

.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.2s;
  .icon{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../../images/icon.png) no-repeat 0 0;
    background-size: 80px 80px;
  }
}

.is-loading{
  .loader{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s linear, visibility 0.3s linear;
    z-index: 3;
    .icon{
      animation: spin 500ms infinite linear;
    }
  }
}

@keyframes spin{
  0%{ transform: rotate(0); transform-origin: center center; }
  100%{ transform: rotate(360deg); transform-origin: center center; }
}

